<div class="wrapper">
    <div settitle="'Home'" class="container">
        <div class="page-header">
            <h1>تور بینهایت گو</h1>
        </div>
        <div style="text-align:center">
            <img style="width:100%;max-width:3000px;" src="/tour/per/static/img/ardan-labs-go-tour-banner.png" alt="Take the Ultimate Go Tour!"/>
        </div>
        <div class="module" ng-repeat="m in toc.modules">
            <p id="{{m.id}}" class="module-title">{{m.title}}</p>
            <div ng-bind-html-unsafe="m.description"></div>
            <div class="lesson" ng-repeat="l in m.lessons">
                <a href="/tour/per/{{l}}" class="lesson-title">{{m.lesson[l].Title}}</a>
                <p>{{m.lesson[l].Description}}</p>
            </div>
        </div>
        <h2>آزمایشگاه آردان</h2>
        <p>
          کپی رایت 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024 آزمایشگاه آردان
        </p>
        <ul>
          <li><a href="https://www.ardanlabs.com/training/" target="_blank">کلاس ها و متریال های ما را بررسی کنید.</a></li>
        </ul>
        <p>
          درباره رویدادهای آموزشی شرکتی، جلسات آموزش آنلاین باز و گزینه‌های یادگیری درخواست بدهید.
        </p>
        <p>
          آزمایشگاه آردان (<a href="https://www.ardanlabs.com" target="_blank">www.ardanlabs.com</a>)
          - <a href="mailto:hello@ardanlabs.com" target="_blank">hello@ardanlabs.com</a>
        </p>
        <p>
          برای شرکت در هر یک از دوره‌های آموزشی با عملکرد بالا ما به این لینک مراجعه کنید:
        </p>
        <ul>
          <li><a href="https://www.ardanlabs.com/training" target="_blank">www.ardanlabs.com/training</a></li>
        </ul>
    </div>
</div>
