<div class="wrapper">
    <div settitle="'Home'" class="container">

        <div class="page-header">
            <h1>Η Απόλυτη Επισκόπηση της Go</h1>
            <p>Patch 23</p>
        </div>
        <div style="text-align:center">
          <img style="width:100%;max-width:3000px;" src="/tour/grc/static/img/ardan-labs-go-tour-banner.png" />
        </div>

        <div class="module" ng-repeat="m in toc.modules">
            <p id="{{m.id}}" class="module-title">{{m.title}}</p>
            <div ng-bind-html-unsafe="m.description"></div>

            <div class="lesson" ng-repeat="l in m.lessons">
                <a href="/tour/grc/{{l}}" class="lesson-title">{{m.lesson[l].Title}}</a>
                <p>{{m.lesson[l].Description}}</p>
            </div>
        </div>

        <h2>Ardan Labs</h2>
        <p> 
          Copyright 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023 Ardan Labs
        </p>
        
        <ul>
          <li><a href="https://www.ardanlabs.com/training/" target="_blank">Αξιολογήστε τα διάφορα μαθήματα και υλικά</a></li>
        </ul>
      
        
        <p>
          Επικοινωνείστε σχετικά με εταιρικές εκπαιδευτικές εκδηλώσεις, ζωντανές συνεδρίες ανοιχτών εγγραφών, και επιλογές δισκαλίας κατά παραγγελία.
        </p>
        
      
        
        <p>
          Ardan Labs (<a href="https://www.ardanlabs.com" target="_blank">www.ardanlabs.com</a>)
          - <a href="mailto:hello@ardanlabs.com" target="_blank">hello@ardanlabs.com</a>
        </p>
        
        <p>
          Προκειμένου να παρακολουθήσετε οποιοδήποτε από τα εκπαιδευτικά σεμινάρια υψηλής απόδοσης δείτε αυτό το link:
        </p>
        
      
        <ul>
          <li><a href="https://www.ardanlabs.com/training" target="_blank">www.ardanlabs.com/training</a></li>
        </ul>
        
    </div>
</div>
