<!doctype html>
<html lang="fa" dir="rtl" ng-app="tour" data-theme="auto">

<head>
    <meta charset="utf-8">
    <title>گو بینهایت</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script>
        (function() {
            const theme = document.cookie.match(/prefers-color-scheme=(light|dark|auto)/)?.[1]
            if (theme) {
                document.querySelector('html').setAttribute('data-theme', theme);
            }
        }())
    </script>
    <link rel="stylesheet" href="/tour/per/static/css/app.css" />
    <link rel="stylesheet" href="/tour/per/static/lib/codemirror/lib/codemirror.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/favicon-gopher-plain.png" sizes="any">
    <link rel="apple-touch-icon" href="/images/favicon-gopher-plain.png"/>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TQGVK9R');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQGVK9R"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="bar top-bar">
        <div class="left">
        <a href="https://www.ardanlabs.com" target="_blank"><img src="/images/ardan-logo-dark.svg" class="ardan-logo"></a>
        <a class="logo" href="/tour/per/list">تور نهایی گو</a>
        </div>
        <div class="right">
            <button class="header-toggleTheme js-toggleTheme" aria-label="Toggle theme">
                <img
                    data-value="auto"
                    class="go-Icon go-Icon--inverted"
                    height="24"
                    width="24"
                    src="/tour/per/static/img/brightness_6_gm_grey_24dp.svg"
                    alt="System theme">
                <img
                    data-value="dark"
                    class="go-Icon go-Icon--inverted"
                    height="24"
                    width="24"
                    src="/tour/per/static/img/brightness_2_gm_grey_24dp.svg"
                    alt="Dark theme">
                <img
                    data-value="light"
                    class="go-Icon go-Icon--inverted"
                    height="24"
                    width="24"
                    src="/tour/per/static/img/light_mode_gm_grey_24dp.svg"
                    alt="Light theme">
            </button>
            <div table-of-contents-button=".toc"></div>
            <div search-button=".search"></div>
            <div feedback-button></div>
            <div class="language-switcher">
                <select id="languageSelector" aria-label="Language selector">
                    <option value="eng">English</option>
                    <option value="grc">Ελληνικά</option>
                    <option value="per">فارسی</option>
                    <option value="por">Português</option>
                    <option value="pol">Polski</option>
                </select>
            </div>
        </div>
    </div>

    <div table-of-contents></div>
    <div search-contents></div>

    <div ng-view ng-cloak class="ng-cloak"></div>

    <script src="/tour/per/script.js?p=23"></script>
</body>

</html>
